// @import "./styles/example.scss";

// #root {
//     color: $color;
// }

body {
  background-image: url('../assets/images/bg2.webp');
  background-size:cover;
  // background-color:darkcyan;

  
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: darkgreen;
}

// .fa-linkedin {
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   font-size: 32px;
// }

input[type="radio"]:checked {
  background-color:blanchedalmond;
}

#price, #last_quote {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

